<form action="/profile" method="post" _method="PATCH">
    <input type="hidden" name="_csrf" value="<%= _csrfToken %>">
    <input type="hidden" name="_method" value="PATCH">
    <div class="mb-4">
        <label class="block text-sm font-medium mb-1" for="callsign">Позивний</label>
        <input class="w-full px-3 py-1 rounded border" type="text" id="callsign" name="callsign" value="<%= user.callsign %>" required>
    </div>
    <div>
        <label class="block text-sm font-medium mb-1" for="joined_at">Дата приєднання</label>
        <input class="w-full px-3 py-1 rounded border" type="date" id="joined_at" name="joined_at" value="<%= user.joined_at ? user.joined_at.substring(0,10) : '' %>" required>
    </div>
    <div class="mt-4">
        <div class="text-sm font-medium">Настріл: <span class="font-bold"><%= user.total_ammo %></span></div>
        <div class="text-sm font-medium">Влучань: <span class="font-bold"><%= user.total_hit %></span></div>
        <div class="text-sm font-medium">Час зі зброєю: <span class="font-bold"><%= Math.round(user.total_drill_time_ms / 60000) %> хв</span></div>
    </div>
    <button class="bg-blue-500 text-white px-4 py-2 mt-4 rounded w-full" type="submit">Оновити</button>
</form>
<form action="/logout" method="post" class="mt-16">
    <input type="hidden" name="_csrf" value="<%= _csrfToken %>">
    <button class="bg-red-500 text-white px-4 py-2 rounded w-full" type="submit">Вийти</button>
</form>